{{#partial "header"}}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/brand.svg" width="50" height="30" class="d-inline-block align-top" alt="SVG Brand">
      <span class="pl-2">Hack-A-Thon</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/teams">Teams</a>
      </li>
    </ul>
  </nav>
{{/partial}}


{{#partial "main"}}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-4"></div>
        <div class="col-2">
          {{#if teams}}
            <a href="/teams/new" class="btn btn-secondary mb-4 float-right">+New Team</a>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{#if teams}}
            <div class="card-deck">
              {{#each teams}}
                <div class="card">
                  <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22223%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20223%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160ecbcd592%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160ecbcd592%22%3E%3Crect%20width%3D%22223%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2283.3671875%22%20y%3D%22105.25%22%3E223x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{stringName}}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted"><a href="/teams/{{id}}">View Team</a></small></p>
                  </div>
                </div>
              {{/each}}
            </div>
          {{else}}
            <div class="jumbotron">
              <h1 class="display-3">No Teams yet</h1>
              <p class="lead">Please create a team to get started</p>
              <p><a class="btn btn-lg btn-info" href="/teams/new" role="button">Create a Team</a></p>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

{{/partial}}

{{> layout.hbs}}