{{#partial "header"}}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/brand.svg" width="50" height="30" class="d-inline-block align-top" alt="SVG Brand">
      <span class="pl-2">Hack-A-Thon</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/teams">Teams</a>
      </li>
    </ul>
  </nav>
{{/partial}}


{{#partial "main"}}

{{/partial}}

{{> layout.hbs}}